*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(129, 70, 141);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: green;

}
.logo{
    color: #fff;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
}
.navbar ul
{
    display: flex;
    list-style: none;
}
.navbar ul li{
    margin-left: 20px;
}
.navbar ul li a{
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s,color 0.3s;
}
.navbar ul li a:hover{
    background-color: #c1e4b6;
    border-radius: 4px;
}